@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Teko";
  src: local("Teko"),
    url("../fonts/Teko-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

body {
  height: 99vh;
  font-family: "Teko";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table,
th,
td {
  font-size: 1.8vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}
